#CCC-userStatusChart-personalDataBaseUI-coreL{
    background:url('/skins/pic/personal boy orin.png') 0px;
    background-size:601.6px;
    transition:background 0.3s;
    -o-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -webkit-transition:background 0.3s;
    cursor:pointer;
}

#CCC-userStatusChart-personalDataBaseUI-coreL:hover{
    background:url('/skins/pic/personal boy after.png') 0px;
    background-size:601.6px;
}

#CCC-userStatusChart-personalDataBaseUI-coreR{
    background:url('/skins/pic/personal boy orin.png');
    background-size:601.6px;
    background-position-x: 244px;
    transition:background 0.3s;
    -o-transition:background 0.3s;
    -moz-transition:background 0.3s;
    -webkit-transition:background 0.3s;
    cursor:pointer;
}

#CCC-userStatusChart-personalDataBaseUI-coreR:hover{
    background:url('/skins/pic/personal boy after.png');
    background-size:601.6px;
    background-position-x: 244px;
}