div.Gn_2
{
    text-align: center;
    padding-left: 28px;
    float:left;
    width:111px;
    height:27px;
    background-image: url("../pic/mission icon B.png");
    background-position:0px 0px;
    display:block;
}
div.Gn_3
{
    padding-left: 28px;
    float:left;
    width:111px;
    height:27px;
    background-image: url("../pic/mission icon B.png");
    background-position:-156px 0px;
    display:block;
}
div.Gn_4
{
    padding-left: 28px;
    float:left;
    width:111px;
    height:27px;
    background-image: url("../pic/mission icon B.png");
    background-position:-318px 0px;
    display:block;
}
div.Gn_5
{
    padding-left: 28px;
    float:left;
    width:111px;
    height:27px;
    background-image: url("../pic/mission icon B.png");
    background-position:-477px 0px;
    display:block;
}
div.Gn_6
{
    padding-left: 28px;
    float:left;
    width:111px;
    height:27px;
    background-image: url("../pic/mission icon B.png");
    background-position:-639px 0px;
    background-repeat: no-repeat;
    display:block;
}

span#Gn_1
{
    margin-left: 24px;
    padding-left: -1px;
    padding-top: 5px;
    float: left;
    width:50px;
    height:30px;
}
span#Gn_1:hover
{
    background-color: #80ccff;
    color: white;
    border-radius:15px;
    width:50px;
    height:30px;
}
div.Gn_2:hover,div.Gn_3:hover,div.Gn_4:hover,div.Gn_4:hover,div.Gn_5:hover,div.Gn_6:hover,div.Gn_7:hover
{
    background-color: #80ccff;
    color: white;
    border-radius:15px;
    width:111px;
    height:30px;
}
div.Gn_2:hover
{
    background-image: url("../pic/mission icon W.png");
     background-position:0px 0px;
}
div.Gn_3:hover
{
    background-image: url("../pic/mission icon W.png");
     background-position:-156px 0px;
}
div.Gn_4:hover
{
    background-image: url("../pic/mission icon W.png");
     background-position:-318px 0px;
}
div.Gn_5:hover
{
    background-image: url("../pic/mission icon W.png");
     background-position:-477px 0px;
}
div.Gn_6:hover
{
    background-image: url("../pic/mission icon W.png");
     background-position:-639px 0px;
}

span.Gn_activity
{
    margin-left: 0px;
    float: left;
    margin-top: 5px;
}

div.Gn_container
{
    margin:0 auto;
    font-family:  "Microsoft YaHei";
    width:1200px;
    background-color: #cecece;
}
div.column
{
    background-color: white;
    width:1200px;
    margin:0 auto;
    padding:0 120px 20px 120px;
}
button
{   
    background-color: #80CCFF;
    font-size:15px;
    color:#FFFFFF;
    font-family:  "Microsoft YaHei";
    border-radius:5px 0 0 5px;
    height:50px;
    width:100px;
}

div.pic
{
    text-align: center;
    margin:0 auto;
    width:960px;
    height:750px;
}

b
{
    float:left;
}
<select>
{
    float:left;
    width:110px;
    border-radius:5px;
}

.CCC-mainContainer-activityL{
    float:left;
    width:980px;
    height:680px;
    margin-top:-3px;
    margin-left:-4.5px;
}
div.Gn_text
{
    font-size: 12;
}
hr#Gn_02
{
 margin：0;
 padding
}

div.Gn_hehe
{
    height: 30px;
}

div.Gn_select1,div.Gn_select2
{
    padding-top: 15px;
    height: 50px;
    border-top: 1px #cccccc solid;
}

button.Gn_button1
{
    border-radius: 25px 0 0 25px;
    background-color: #cccccc;
    height: 45px;
    border-color: transparent;
    border-right: white 2px solid;
}

button.Gn_button2
{
    border-radius: 0 25px 25px 0;
    margin-left: -6px;
    background-color: #cccccc;
    height: 45px;
    border-color: transparent;
}
button.Gn_button1:hover
{
    background-color: #0099ff;
    color:white;
}
button.Gn_button2:hover
{
    background-color: #0099ff;
    color:white;
}
div.button
{
    margin:0 auto;
    text-align: center;
    margin-bottom: 20px;
}